node_modules
.next
.next/static
.next/build-manifest.json
.next/static/development/pages/about.js
.next/build-manifest.json
.next/server/pages-manifest.json
.next/server/static/development/pages/about.js
.next/server/static/development/pages/about.js.map
.next/server/static/development/pages/index.js
.next/server/static/development/pages/index.js.map
.next/static/development/dll/dll_599a58a60c43245180de.js
.next/static/development/pages/_app.js
.next/static/development/pages/_app.js.map
.next/static/development/pages/_error.js
.next/static/development/pages/_error.js.map
.next/static/development/pages/about.js.map
.next/static/development/pages/index.js
.next/static/development/pages/index.js.map
.next/static/runtime/main.js
.next/static/runtime/main.js.map
.next/static/runtime/webpack.js
.next/static/runtime/webpack.js.map
.next/static/webpack/f4954f48dd100cffb082.hot-update.json
.next/static/webpack/fd690039fa8fcd1c717e.hot-update.json
